.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-size: 100% auto; */
    background: linear-gradient(to top, #040308, #ad4a28, #dd723c, #fc7001, #dcb697, #9ba5ae, #3e5879, #020b1a);
    z-index: -35;
}

#A {
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 20' preserveAspectRatio='none' style='height: 100vh; width: 100vw;' fill='%23edf4f2' fill-opacity='1'%3E%3Cpath d='M0,8.5276 S2.3810,9.6969,4.7619,10.8661 S7.1429,7.2364,9.5238,3.6066 S11.9048,7.1178,14.2857,10.6290 S16.6667,9.4635,19.0476,8.2980 S21.4286,8.9647,23.8095,9.6313 S26.1905,6.1141,28.5714,2.5968 S30.9524,5.5283,33.3333,8.4597 S35.7143,5.5292,38.0952,2.5987 S40.4762,3.9336,42.8571,5.2686 S45.2381,7.6134,47.6190,9.9581 S50.0000,9.2088,52.3810,8.4595 S54.7619,9.4705,57.1429,10.4815 S59.5238,8.5734,61.9048,6.6652 S64.2857,4.8366,66.6667,3.0080 S69.0476,2.9268,71.4286,2.8456 S73.8095,4.8761,76.1905,6.9065 S78.5714,5.6445,80.9524,4.3825 S83.3333,5.2760,85.7143,6.1695 S88.0952,7.2532,90.4762,8.3370 S92.8571,6.8503,95.2381,5.3636 S97.6190,7.8897,100.0000,10.4158 L100,3.5142V20H0z' /%3E%3C/svg%3E");
    z-index: -25;
}

#B {
    position: absolute;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320' preserveAspectRatio='none' style='height: 100vh; width: 100vw'%3E%3Cpath fill='%237c8363' fill-opacity='1' d='M0,96L48,90.7C96,85,192,75,288,64C384,53,480,43,576,80C672,117,768,203,864,208C960,213,1056,139,1152,133.3C1248,128,1344,192,1392,224L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    z-index: -15;
}


#C {
    position: absolute;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320' preserveAspectRatio='none' style='height: 100vh; width: 100vw;'%3E%3Cpath fill='%2331473a' fill-opacity='1' d='M0,32L48,42.7C96,53,192,75,288,112C384,149,480,203,576,229.3C672,256,768,256,864,266.7C960,277,1056,299,1152,272C1248,245,1344,171,1392,133.3L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    z-index: -5;
}