.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-size: 100% auto; */
    background: linear-gradient(to top, #040308, #ad4a28, #dd723c, #fc7001, #dcb697, #9ba5ae, #3e5879, #020b1a);
    background-attachment: fixed;
    z-index: -35;
}

#A {
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320' preserveAspectRatio='none' style='height: 100vh; width: 100vw;' fill='%23edf4f2' fill-opacity='1'%3E%3Cpath d='M0,32L24,64C48,96,96,160,144,170.7C192,181,240,139,288,106.7C336,75,384,53,432,58.7C480,64,528,96,576,101.3C624,107,672,85,720,69.3C768,53,816,43,864,53.3C912,64,960,96,1008,117.3C1056,139,1104,149,1152,144C1200,139,1248,117,1296,133.3C1344,149,1392,203,1416,229.3L1440,256L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    z-index: -25;
}

#B {
    position: absolute;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320' preserveAspectRatio='none' style='height: 100vh; width: 100vw'%3E%3Cpath fill='%237c8363' fill-opacity='1' d='M0,96L48,90.7C96,85,192,75,288,64C384,53,480,43,576,80C672,117,768,203,864,208C960,213,1056,139,1152,133.3C1248,128,1344,192,1392,224L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    z-index: -15;
}


#C {
    position: absolute;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320' preserveAspectRatio='none' style='height: 100vh; width: 100vw;'%3E%3Cpath fill='%2331473a' fill-opacity='1' d='M0,32L48,42.7C96,53,192,75,288,112C384,149,480,203,576,229.3C672,256,768,256,864,266.7C960,277,1056,299,1152,272C1248,245,1344,171,1392,133.3L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    z-index: -5;
}