.body {
    background-attachment: fixed;
    /* background-image: url("../assets/explorer-map.jpg"); */
    background-position: center;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.lp-background {
    background-attachment: fixed;
    background-color: gray;
    background-image: url("../assets/mountain-tops.jpg");
    background-position: center;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#login {
    position: relative;
    display: flex;
    flex-direction: column;
}

.label {
    display: flex;
    padding-right: .5rem;
}

.edit {
    justify-content: end;
}

#register {
    position: relative;
    display: flex;
    flex-direction: column;
}

.header-1 {
    margin: 0;
    padding-top: 2rem;
}