.location-card {
    border: 2px solid rgb(37, 103, 9);
    padding-bottom: 50px;
}

.location-span {
    padding: 15px;
    margin: 15px;
    display: inline-block;
}

.nav-anchor {
    display: block;
    width: 150px;
    color: rgb(201, 106, 106);
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #FF8C00;
}

.nav-anchor-end {
    display: block;
    width: 150px;
    color: rgb(195, 246, 122);
    text-decoration: none;
}

.nav-anchor .active {
    color: coral;
}

.nav-anchor-end .active {
    color: coral;
}