.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-card {
    width: 30%;
    padding: 2rem;
    border: 2px solid #7ea8b4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #12343b;
    color: #e1b382;
}

.location-span {
    padding: 15px;
    margin: 15px;
}

.card-button {
    background-color: #e1b382;
    color: #12343b;
    font-weight: bold;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding-bottom: 2rem;
}

.nav-anchor {
    color: #c89666;
    font-size: x-large;
}

.nav-anchor-start {
    padding-right: 1.5rem;
}

.nav-anchor-end {
    padding-left: 1.5rem;
}

.nav-icon:hover {
    color: #ffaaab
}

.active {
    color: mintcream;
}