.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-card {
    width: 30%;
    padding: 2rem;
    border: 2px solid #a54417;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #815e4c;
    color: #7ea8b4;
}

.location-span {
    padding: 15px;
    margin: 15px;
}

.card-button {
    background-color: #df5421;
    color: #7ea8b4;
    font-weight: bold;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding-bottom: 2rem;
}

.nav-anchor {
    color: rgb(74, 207, 33);
    font-size: x-large;
}

.nav-anchor-start {
    padding-right: 1.5rem;
}

.nav-anchor-end {
    padding-left: 1.5rem;
}

.nav-icon:hover {
    color: chartreuse
}

.active {
    color: mintcream;
}